<div class="content-container">
    <app-voltar-inicio />

    <main class="text-heavy sobre">
        <h1>Sobre o Brasil Transparente</h1>
        <p>
            O <strong>Brasil Transparente</strong> é um projeto criado para
            facilitar o acesso e a compreensão dos gastos públicos da União e dos
            estados brasileiros. Embora existam portais oficiais que
            disponibilizam esses dados, eles são descentralizados, complexos e
            pouco acessíveis. Nossa plataforma surgiu para resolver esse problema:
            oferecemos uma interface simples, intuitiva e centrada no usuário, que
            busca tornar as informações públicas verdadeiramente compreensíveis.
        </p>
        <p>
            A missão é permitir que qualquer pessoa entenda, com clareza, como os
            recursos públicos estão sendo utilizados. Queremos apresentar o
            cenário das despesas governamentais de forma completa, organizada e
            muito fácil de explorar e compreender. Acreditamos que transparência e
            conhecimento são pilares de um Brasil mais justo, democrático e
            eficiente. Compreender onde e como os recursos públicos são utilizados
            permite que você tome decisões mais informadas e contribua para a
            construção de um país mais transparente e responsável.
        </p>
        <h1>Código Aberto</h1>
        <p>
            O <strong>Brasil Transparente</strong> é um projeto de código aberto,
            porque acreditamos que a transparência deve começar pela própria
            tecnologia que usamos para promovê-la. Tornar o código público é um
            compromisso com a clareza, a confiança e a integridade do projeto.
            Além disso, o modelo aberto permite a colaboração de desenvolvedores,
            pesquisadores e cidadãos engajados, ampliando a diversidade de ideias
            e fortalecendo a construção coletiva da plataforma.
        </p>
        <p>
            Queremos que o projeto seja feito com as pessoas, não apenas para
            elas. Ao adotar o código aberto, também buscamos estimular o
            aprendizado, a inovação e o desenvolvimento técnico de novos talentos,
            criando um ambiente propício para a cidadania ativa e para o avanço da
            tecnologia cívica no país.
        </p>
    </main>
</div>