<div class="content-container">
    <app-voltar-inicio />
    <main class="text-heavy">
        <h1>Metodologia</h1>
        <p>
            A metodologia do <strong>Brasil Transparente</strong> foca em
            apresentar apenas os valores efetivamente pagos pelas unidades
            federativas representadas. São desconsideradas despesas que ainda não
            foram quitadas e que podem ser canceladas posteriormente, como as
            despesas liquidadas ou empenhadas.
        </p>
        <p>
            Os totais exibidos podem diferir dos números encontrados nos
            orçamentos aprovados pela União ou pelos estados, pois estes incluem
            itens como o refinanciamento da dívida pública e os repasses
            obrigatórios para outros entes federativos. Também podem divergir da
            chamada <em>despesa primária</em>, que exclui os juros da dívida do
            cálculo. O motivo dessas exclusões é explicado em mais detalhes
            abaixo.
        </p>
        <p>
            Nosso objetivo é oferecer uma visão mais prática e acessível sobre
            onde o dinheiro público foi de fato utilizado ao longo do ano,
            evitando tecnicalidades que, embora relevantes em seus contextos
            específicos, muitas vezes geram distorções e dificultam o entendimento
            por parte da população não técnica.
        </p>

        <h2>Principais regras metodológicas:</h2>
        <ul>
            <li>
                <strong>Remoção de repasses:</strong> Embora esses valores apareçam
                nos orçamentos, eles não representam gastos diretos dos governos,
                mas sim transferências para outras esferas de governo. Esses
                recursos serão utilizados, em parte, de acordo com critérios
                próprios das outras esferas de governo, fugindo do escopo da
                responsabilidade direta do gasto pelo Governo Federal ou Estadual
                analisado.
            </li>
            <li>
                <strong>Remoção do refinanciamento da dívida:</strong> Valores
                utilizados para refinanciar dívidas antigas não representam novos
                investimentos ou gastos diretos. Em outras palavras, não há um novo
                desembolso, mas sim a renovação de um compromisso financeiro
                previamente assumido. O custo da dívida é pago através dos juros,
                esse sim considerado no cálculo.
            </li>
            <li>
                <strong>Remoção de valores comprometidos:</strong> Alguns valores
                podem ser registrados como já comprometidos pelo governo, mas
                enquanto não forem efetivamente pagos, não são considerados um gasto
                efetivado.
            </li>
            <li>
                <strong>Pagamento de precatórios e RPVs da União:</strong> Valores
                decorrentes de precatórios e RPVs são oficialmente contabilizados
                abaixo dos tribunais que determinaram esses pagamentos, no
                Judiciário. Quem é responsável por essa despesa, porém, é o
                Executivo, que envia os recursos aos tribunais para o pagamentos,
                esses últimos agindo apenas como intermediários desse pagamento.
                Tribunais que deixam claro quais sentenças judiciais foram
                decorrentes de precatórios e RPVs, tiveram esses valores movidos
                para o Executivo. Outras sentenças registradas abaixo dos tribunais
                mas sem distinção clara da natureza da sentença permaneceram como
                despesa dos próprios tribunais.
            </li>
        </ul>

        <h3>Resumo dos Gastos:</h3>
        <p>
            O resumo dos gastos agrupa os maiores valores por categoria. As
            aposentadorias e pensões aparecem com valores mais altos nesta visão
            em comparação à despesa do Ministério da Previdência, pois também
            incluem valores pagos por outras entidades do setor público, cujos
            pagamentos são registrados abaixo de seus ministérios ou poderes
            correspondentes. Por exemplo, de acordo com o governo, os pagamentos
            para militares aposentados são atribuídos ao Ministério da Defesa,
            professores aposentados estão sob o Ministério da Educação e membros
            aposentados judiciário estão sob o Poder Judiciário. O resumo dos
            gastos reclassifica todos esses valores para que apareçam juntos.
        </p>
        <p>
            Em relação às despesas com aposentadorias e pensões, benefícios
            trabalhistas e transferências de renda: são considerados apenas os
            valores repassados aos beneficiários, sem incluir os gastos com as
            estruturas dos ministérios responsáveis pelo pagamento. Por outro
            lado, as despesas com saúde e educação incluem os gastos com suas
            respectivas estruturas, pois estão mais relacionadas à prestação de
            serviços do que a transferências diretas de recursos. Recursos do
            Poder Judiciário apresentam apenas os custos ativos do Poder,
            reclassificando valores de aposentados e de pagamentos de sentenças
            determinadas pelos tribunais. Todos os estados representados seguem as
            mesmas regras de cálculo.
        </p>
        <p>
            Estamos sempre abertos a revisar e ajustar essas regras, com o
            objetivo de garantir que as informações sejam compartilhadas da melhor
            maneira possível. Se você tiver alguma sugestão ou correção, por
            favor, contate-nos no e-mail:
            <strong>brasiltransparente@pm.me</strong>.
        </p>
    </main>
</div>